/* .title{
    background-color: teal;
}

.title{
    background-color: yellow;
} */

body{
    background-color: #333;
}
#title{
    color:red;
}
.title{
    color: cyan;
    font-size: 10px;
}

.text{
    color: green;
}

.link{
    color: inherit;
}

.list{
    color:indianred;
}

.list-item-extra{
    color:initial;
}