*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;
}

.text{
    background-color: lightcoral;
    /* display: none; */
    /* display: inline; */
}

.link{
    background-color: #fff;
    /* display: block;
    width: 100px;
    margin-bottom: 20px; */
    display:inline-block;
    width: 100px;
}