* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  color: #fff;
  /* padding-top: 70px; */
}

img{
  width: 100%;
  display: block;
}

.header{
  text-align: center;
  /* padding:25px 0; */
  background-color: lightskyblue;
  color: orangered;
  /* position: fixed;
  top:0;
  width: 100%; */
  /* position: sticky; */
  /* height: 200px; */
  height: 400px;

  overflow: hidden;
}
.menu{
  position: sticky;
  top: 0;
}
article{
  outline: 3px solid red;
}

.article-title{
  position: sticky;
  top: 0px;
  background-color: #333;
  margin: 0;
}

/* .link{
  position: fixed;
  background-color: lightcoral;
  width: 200px;
} */
/* .main{
  position: absolute;
  top: 50px;
} */

/* .box{
  width: 100px;
  height: 100px; 
  text-align: center;
} */

/* .container{
  width: 200px;
  height: 200px;
  background-color: peru; 
  position: absolute;
} */

/* .box-1{
  background-color: lightcoral;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.box-1{
  position: relative;
  left: 100px;
  top: 100px;
} */

/* .box-2{
  background-color: lightgreen;
  position: absolute;
  left: 0px;
  bottom: 0px;
} */

/* .link{
  position: absolute;
  background-color: lime;
  width: 200px;
  top: 50px;
} */

/* .link{
  display: block;
} */